In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("Dataclean.csv")

In [7]:
data

,Kabupaten/Kota,Nama Kepala Rumah Tangga,X1,X2,X3,X4,X5,X6,X7,X8,...,X26,X27,X28,X29,X30,X31,X32,X33,X34,Y
0,KOTA BANDA ACEH,WAHYU HIDAYAT,1,1,1,2,1,1,6,1,...,1,2,2,2,2,2,1,4,2,5
1,KOTA BANDA ACEH,MUCHRI,2,1,1,6,1,2,6,2,...,1,2,2,2,2,2,1,4,2,2
2,KOTA BANDA ACEH,USMAN ALI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
3,KOTA BANDA ACEH,EFENDI,1,1,1,6,1,1,6,1,...,1,2,2,2,2,2,1,4,1,5
4,KOTA BANDA ACEH,FARIDAHWATI,1,2,4,6,1,1,6,1,...,2,2,2,2,2,2,2,4,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60744,KOTA SUBULUSSALAM,DANI SAPUTERA,1,3,4,6,1,2,6,2,...,2,2,2,2,2,2,2,4,2,3
60745,KOTA SUBULUSSALAM,SULASTRI,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,1,5
60746,KOTA SUBULUSSALAM,KARDA,1,1,1,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3
60747,KOTA SUBULUSSALAM,SUWARSONO,1,1,1,6,1,1,6,1,...,1,1,2,2,2,2,1,4,1,5
60748,KOTA SUBULUSSALAM,PURNOMO,1,5,4,6,3,2,6,2,...,2,2,2,2,2,2,1,4,2,3

In [6]:
import numpy as np

def k_medians(X, k):
    # randomly initialize k medians
    medians = X[np.random.choice(X.shape[0], k, replace=False)]
    while True:
        # assign each point to the closest median
        clusters = [[] for _ in range(k)]
        for x in X:
            distances = [np.linalg.norm(x - m) for m in medians]
            closest_median_idx = np.argmin(distances)
            clusters[closest_median_idx].append(x)
        # recompute the medians
        new_medians = np.array([np.median(cluster, axis=0) for cluster in clusters])
        # check if the medians have changed
        if np.all(new_medians == medians):
            break
        else:
            medians = new_medians
    return clusters

In [8]:
DATA

,Jumlah Anggota Rumah Tangga (ART),Jumlah Keluarga,Status bangunan tempat tinggal,Status lahan tempat tinggal,Jenis lantai terluas,Jenis dinding terluas,Kondisi dinding,Jenis atap terluas,Kondisi atap,Jumlah kamar tidur,...,Sepeda,Sepeda motor,Mobil,Perahu,Motor tempel,Perahu motor,Kapal,Aset lahan,Rumah di tempat lain,ART memiliki usaha sendiri/bersama
0,3,1,1,1,2,1,1,6,1,2,...,2,1,2,2,2,2,2,1,2,2
1,5,2,1,1,6,1,2,6,2,1,...,1,1,2,2,2,2,2,1,2,2
2,1,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
3,2,1,1,1,6,1,1,6,1,1,...,2,1,2,2,2,2,2,1,2,1
4,1,1,2,4,6,1,1,6,1,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60767,3,1,3,4,6,1,2,6,2,2,...,2,2,2,2,2,2,2,2,2,2
60768,1,1,1,1,6,3,2,6,2,1,...,2,2,2,2,2,2,2,1,2,1
60769,4,1,1,1,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2
60770,3,1,1,1,6,1,1,6,1,2,...,2,1,1,2,2,2,2,1,2,1
60771,3,1,5,4,6,3,2,6,2,2,...,2,2,2,2,2,2,2,1,2,2